<%= form_for @artist, html: { multipart: true } do |f| %>

<% if @artist.errors.any? %>
 <h3>Errors:</h3>
   <ul>
     <%@artist.errors.full_messages.each do |message| %>
       <li><%= message %></li>
     <% end %>
   </ul>
<% end %>

  <div class="form-group">
    <label>Name:</label>
    <%= f.text_field :name, placeholder: "Artist name", class: "form-control" %>
  </div>
  <div class="form-group">
    <label>Genre:</label>
    <%= f.text_field :genre, placeholder: "Genre", class: "form-control" %>
  </div>

  <label>Upload Image:</label>

  <div class="form-group">
    <span class="btn btn-danger">
      Upload Image
      <%= file_field_tag "image_url", type: :file %>
    </span>
  </div>

  <hr>

  <div class="actions">
    <%= f.submit "Save", class: "btn btn-danger" %>
    <%= link_to "Back", artists_path, class: "btn btn-default" %>
  </div>

<% end %>
