<div class="align-image">
  <div class="panel-heading">
    <h1><%=@artist.name %></h1>
  </div>
  <div class ="panel-body">
    <div class="thumbnail">
        <%= image_tag @artist.image_url %>
        <span class="label label-danger"><%= @artist.genre %></span>
        <div class="align-button">
          <%= link_to "Delete Artist", artist_path(@artist), class: "btn btn-default", method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
    </div>
  <div>
    <table id="songList" data-artistid="<%= @artist.id.to_s %>" >
      <tr>
        <th>Title</th>
        <th>Duration</th>
      </tr>
    </table>
    <div class="align-add-delete">
      <%= button_tag "Add Song", class: "btn btn-danger", id: "addSongButton" %>

      <%= button_tag 'Delete All Songs', class: "btn btn-danger", id: "deleteAllSongsButton", onclick: 'deleteAllSongs(' + @artist.id.to_s + ')' %>

    </div>
  </div>
  <div id="addSongForm" class="fsongoup">
    <label>Title:</label>
    <input id="titleInput" type="text" class="form-control" placeholder="Song title">

    <div class="form-group">
      <label>Duration:</label>
      <input id="durationInput" type="text" class="form-control" placeholder="eg. 03:40">
    </div>
  <hr>
    <div class="align-add-delete">
      <%= button_tag "Save Song", class: "btn btn-danger", id: "saveSongButton", onclick: 'addSong(' + @artist.id.to_s + ')' %>

     <%= button_tag "Cancel", class: "btn btn-default", id: "cancelAddSongButton" %>
   </div>
  </div>
  <div class="align-button">
    <%= link_to "Back to Artists", artists_path, class: "btn btn-default" %>
  </div>
</div>
